{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{details.logo.url}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="{% url 'home' %}" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><img src="{{details.logo.url}}" alt=""></h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">

                        <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/' %}  active {% endif %}">Home</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link {% if request.path == '/about/' %}  active {% endif %}">About</a>
                        <a href="{% url 'service' %}" class="nav-item nav-link {% if request.path == '/service/' %}  active {% endif %}">Service</a>
                        <a href="{% url 'menu' %}" class="nav-item nav-link {% if request.path == '/menu/' %}  active {% endif %}">Menu</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'booking' %}" class="dropdown-item {% if request.path == '/booking/' %}  active {% endif %}">Booking</a>
                                <a href="{% url 'team' %}" class="dropdown-item {% if request.path == '/our-team/' %}  active {% endif %}">Our Team</a>
<!--                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
                            </div>
                        </div>
                        <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == '/contact/' %}  active {% endif %}">Contact</a>
                    </div>
                    <a href="{% url 'booking' %}" class="btn btn-primary py-2 px-4">Book A Table</a>
                </div>
            </nav>

            {% block body %}


            {% endblock body %}


             <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Links</h4>
                        <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                        <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                        <a class="btn btn-link" href="{% url 'booking' %}">Reservation</a>
                        <a class="btn btn-link" href="{% url 'menu' %}">Menu</a>
                        <a class="btn btn-link" href="{% url 'team' %}">Our Team</a>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{details.location}}</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{details.phone_number}}</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{details.email}}</p>
                        <div class="d-flex pt-2">
                           {% for s in socials %}
                            {% if s.social_media == 'twitter' %}
                            <a class="btn btn-outline-light btn-social" href="https://{{s.link}}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if s.social_media == 'wp' %}
                            <a class="btn btn-outline-light btn-social" href="https://wa.me/{{s.link}}"><i class="fab fa-whatsapp"></i></a>
                            {% endif %}
                            {% if s.social_media == 'insta' %}
                            <a class="btn btn-outline-light btn-social" href="https://{{s.link}}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if s.social_media == 'telegram' %}
                            <a class="btn btn-outline-light btn-social" href="https://t.me/{{s.link}}"><i class="fab fa-telegram"></i></a>
                            {% endif %}
                            {% if s.social_media == 'fb' %}
                            <a class="btn btn-outline-light btn-social" href="https://{{s.link}}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if s.social_media == 'yt' %}
                            <a class="btn btn-outline-light btn-social" href="https://{{s.link}}"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                            {% if s.social_media == 'linkedin' %}
                            <a class="btn btn-outline-light btn-social" href="https://{{s.link}}"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>

                        <h5 class="text-light fw-normal">Iş günləri</h5>
                        <p>{{details.working_time}}</p>


                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Subscribe</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">

                            <form method="post">
                                {% csrf_token %}
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Phone number" name="subscribe">
                            <button type="submit" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Abunə ol</button>
                       </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>