{% extends 'base.html' %}

{% load static %}

{% block body %}

<section id="main-menu" class="menu-cart scroll-reveal" style="background: #0F172B;">
    <div class="container" style="margin-top:50px;">
        <h1 class="header-txt  ff-secondary" style="color: whitesmoke;">{% trans 'Fizuli Catering Menu' %}</h1>
        <p class="header-txt" style="color: orange; font-size: 20px;">{{details.catering_menu_text}}</p>
        <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>


    </div>
</section>
 <div class="container-xxl py-5">
<div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
<div class="container">
<div class="row ">
 {% for f in p %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-img-container">


                        <img class="card-img-top" src="{{f.image.url}}" alt="Card image cap" style="width:300px;height:219px;">
                    </div>
                    <div class="card-body">
                        <a href="" class="section-title ff-secondary text-center text-primary fw-normal">{{f.name}}</a>
                        <hr>
                        <p style="color:skyblue;" class="section-title ff-secondary " >{{f.ingredients}}</p> <br>
                        <p style="color:red;" class="section-title ff-secondary text-center text-danger fw-normal">{{f.category.name}}</p>
                        <p style="color:green;" class="ff-secondary">{{f.price}}</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>
</div>
    </div>
</div>
 </div>
    <!--.menu-cart-->
<div class="pagination-container" style="margin-left:70px;">
    <nav aria-label="Page navigation example" class="paginationNav mx-auto ml-6">
        <ul class="pagination">
            {% if p.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{p.number|add:'-1'}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if p.number > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{p.number|add:'-1'}}">{{p.number|add:"-1"}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link active" href="?page={{p.number}}">{{p.number}}</a></li>
            {% if p.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{p.number|add:'1'}}">{{p.number|add:"1"}}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{p.number|add:'1'}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>




  {% endblock body %}