{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


{% block body %}

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{% trans 'Contact Us' %}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">{% trans 'Contact' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">{% trans 'Contact Us' %}</h5>
		    <h1 class="mb-5">{{details.contact_text}}</h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                             <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <h5 class=""><i class="fa fa-phone-alt me-3"></i>56399572</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>{{details.email}}</p>
                            </div>

                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="col-md-12 wow fadeIn" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100"
                            src="{{details.map_url}}"
                            frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Contact End -->


     {% endblock body %}
