{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% block body %}
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{% trans 'Food Menu' %}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">{% trans 'Menu' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">{% trans 'Food Menu' %}</h5>
                    <h1 class="mb-5"> </h1>
        <div class="container">
              <div class="row" style="margin-bottom: 30px;" >


                 <div class="row">
           {% for cat in categories %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-img-container">
                        <a href="{% url 'foods' %}?category={{cat.name}}" class="hover-link">{{cat.name}}</a>
                        <img class="card-img-top" src="{{cat.image.url}}" alt="Card image cap" style="height:286px;width:100%;">
                    </div>
                    <div class="card-body">
                        <a href="{% url 'foods' %}?category={{cat.name}}" class="btn btn-warning">{{cat.name}}</a>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
            </div>
        </div>
        <!-- Menu End -->





       {% endblock body %}
